.nav{
    background-color: #333;
    color:blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

   
}


.nav a{
    color: rgb(227, 220, 229);
    text-decoration: none;
    font-size: 18px;
}